<img src="hw logo.png">

<h1 style="text-align: center;">Health-Wallet</h1>
<h2 style="text-align: center;"> Welcome!</h2>


<form [formGroup]='studentProfileForm' (ngSubmit)='onSubmit()' style="text-align: center;" >
    <label>E-mail :
    <input type="text" name="email" formControlName="email" required minlength="15"/>
    </label>
    <!-- <div *ngIf="name.valid">
        <p>Name valid? {{name.valid}}</p>
    <p>Name touched ? : {{name.touched}}</p>
    <p>Name Dirty ? : {{name.dirty}}</p>
    </div> -->

    <br/>
    <p>
    <label> Password : <input type="email" formControlName="email"/>
    </label></p></form>
    <ul >
        <li class="l" ><button routerLink="/ragistration" >Login</button>
        <button class="r"  routerLink="/ragistration" >Ragister</button></li></ul>

 



