<p>ragistration works!</p>


<form>
<div formGroupName="name">Your Name :</div> <input text="a.name">
<div formGroupName="email">E-mail : </div><input text="a.email">
<div formGroupName="mobileNo">mobile Number : </div><input text="a.mobileNo">
<div formGroupName="address">Address </div><input text="a.address">

<div formGroupName='address'><h3>Adddress</h3>
    <label>City:<input type="text" formControlName="city"/></label>
    <label> State:<input type="text" formControlName="state"/></label>
